<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RasPy-Monitor</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <link href="/lib/style.css" rel="stylesheet">
    <link href="/lib/style-768.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul class="navigation-list">
                <li class="navigation-button" id="home-button" 
                    v-bind:class="{ 'selected': section == 'home' }"
                    v-on:click="changeNav">
                    <span class="material-icons-round">home</span>Home
                </li>

                <li class="navigation-button" id="statistics-button" 
                    v-bind:class="{ 'selected': section == 'statistics' }"
                    v-on:click="changeNav">
                    <span class="material-icons-round">analytics</span>Statistics
                </li>

                <li class="navigation-button" id="settings-button" 
                    v-bind:class="{ 'selected': section == 'settings' }"
                    v-on:click="changeNav">
                    <span class="material-icons-round">settings</span>Settings
                </li>
            </ul>
        </div>
        <div class="body">
            <div id="home-body" class="body-section"
                v-bind:class="{ 'selected': section == 'home' }">
                <div class="home-card" id="machine-info">
                    <span class="home-card-title">
                        <span class="material-icons-round">developer_board</span>
                        Machine Info
                    </span>
                    <div class="home-card-content">
                        <span class="home-card-content-name">Hostname</span><span>[[ api.system.uname.hostname ]]</span>
                        <span class="home-card-content-name">Model</span><span>[[ api.system.model ]]</span>
                        <span class="home-card-content-name">Processor</span><span>[[ api.system.processor ]]</span>
                        <span class="home-card-content-name">OS</span><span>[[ api.system.os_name ]]</span>
                        <span class="home-card-content-name">Kernel</span><span v-bind:title="api.system.uname.kernel_ver + ' ' + api.system.uname.kernel_build">[[ api.system.uname.kernel_ver ]]</span>
                    </div>
                </div>

                <div class="home-card" id="cpu-info">
                    <span class="home-card-title">
                        <span class="material-icons-round">memory</span>
                        CPU Load
                    </span>
                    <div class="home-card-content">
                        <span class="home-card-content-name">Last minute</span>
                        <div class="cpu-bar">
                            <cpu v-bind:percentage="api.cpu.load.last_minute"></cpu>
                        </div>
                        <span class="home-card-content-name">Last 5 minutes</span>
                        <div class="cpu-bar">
                            <cpu v-bind:percentage="api.cpu.load.last_five_minutes"></cpu>
                        </div>
                        <span class="home-card-content-name">Last 15 minutes</span>
                        <div class="cpu-bar">
                            <cpu v-bind:percentage="api.cpu.load.last_fifteen_minutes"></cpu>
                        </div>
                    </div>
                </div>

                <div class="home-card" id="uptime-info">
                    <span class="home-card-title">
                        <span class="material-icons-round">timer</span>
                        Uptime
                    </span>
                    <div class="home-card-content">
                        <uptime type="Days" v-bind:value="uptime.days"></uptime>
                        <uptime type="Hours" v-bind:value="uptime.hours"></uptime>
                        <uptime type="Minutes" v-bind:value="uptime.minutes"></uptime>
                        <uptime type="Seconds" v-bind:value="uptime.seconds"></uptime>
                    </div>
                </div>

                <div class="home-card" id="disk-info">
                    <span class="home-card-title">
                        <span class="material-icons-round">sd_card</span>
                        Disk Usage
                    </span>
                    <div class="home-card-content">
                        <div v-for="disk in api.diskusage.paths" v-bind:key="disk.mount_point" class="disk-card">
                            <span class="home-card-content-name">[[ disk.mount_point ]]</span>
                            <div class="disk-bar">
                                <disk v-bind:used="disk.used" v-bind:total="disk.total" v-bind:path="disk.mount_point"></disk>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="home-card" id="memory-info">
                    <span class="home-card-title">
                        <span class="material-icons-round">storage</span>
                        Memory
                    </span>
                    <div class="home-card-content">
                        <span class="home-card-content-name">Memory</span>
                        <div class="disk-bar">
                            <memory v-bind:used="api.memory.memory.used" v-bind:total="api.memory.memory.total"></memory>
                        </div>
                        <span class="home-card-content-name">Swap</span>
                        <div class="disk-bar">
                            <memory v-bind:used="api.memory.swap.used" v-bind:total="api.memory.swap.total"></memory>
                        </div>
                    </div>
                </div>

                <div class="home-card" id="networking-info">
                    <span class="home-card-title">
                        <span class="material-icons-round">share</span>
                        Networking
                    </span>
                    <div class="home-card-content">
                        <div class="network" v-for="int in api.netusage.interfaces" v-bind:key="int.name">
                            <span class="home-card-content-name">[[ int.name ]]</span><span class="network-down">[[ int.received ]]</span><span class="network-up">[[ int.sent ]]</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="statistics-body" class="body-section"
                v-bind:class="{ 'selected': section == 'statistics' }">
                Statistics
            </div>
            <div id="settings-body" class="body-section"
                v-bind:class="{ 'selected': section == 'settings' }">
                Settings
            </div>
        </div>
    </div>
    <script src="/lib/main.js"></script>
</body>
</html>